@model PruebaAyudasTecnologicas.DAL.Entities.Services

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar esta categoría?</h3>
<div>
    <partial name="../Shared/PartialViews/_ServicesDetailDelete" />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <br />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
